# База данных SQLite (НИКОГДА не коммитить рабочую базу в публичный репо!)
db.sqlite3

# Папка с медиафайлами (аватарки, документы, загруженные фото)
/media/

# Папка со статикой, собранной через collectstatic
/staticfiles/
/static_root/

# Виртуальное окружение
/venv/
/env/
/.env

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# Настройки IDE (VSCode, PyCharm)
.vscode/
.idea/