# Виртуальное окружение
venv/
env/

# База данных (у каждого разработчика она своя локально)
db.sqlite3

# Python кэш
__pycache__/
*.py[cod]

# Настройки VS Code (опционально, можно оставить, но часто скрывают)
.vscode/

# Медиа файлы (картинки, загруженные пользователями)
# Папку media саму оставляем, но файлы внутри игнорируем
media/*
!media/.gitkeep